.categoriesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 90%;
    justify-content: start;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 30px;
}

.category {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.categoriesContainer button {
    border: none;
    background-color: white;
}

.category img {
    width: 25px;
    margin: auto;
    filter: invert(50%) !important;
    transition: filter 0.3s ease;
}

.category p {
    margin: auto;
    margin-top: 5px;
    font-weight: 100;
    color: grey;
    transition: color 0.3s ease;
}

.category:hover p {
    color: black;
}

.category:hover img{
    filter: none !important;
}

.category div{
    margin-top: 10px;
    border-bottom: 2px solid white !important;
}
.category:hover div {
    border-color:  rgb(209, 207, 207) !important;
}

.activeCategory p {
    color: black;
}
.activeCategory img{
    filter: none !important;
}

.activeCategory div {
    border-color: black !important;
}

.activeCategory:hover div {
    border-color: black !important;
}

.scrollButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 31%;
    z-index: 1;
}

/* Positioning the scroll buttons */
.scrollButton:first-of-type {
    margin-left: 40px;
    left: 0;
}

.scrollButton:last-of-type {
    margin-right: 40px;
    right: 0;
}