.footerContainer {
    margin-top: 40px;
    width: 90%;
}

.footerCopyright {
    gap: 5px;
    font-size: 15px;
    width: auto;
}

.footerCopyright a:hover,
.footerLinks a:hover {
    text-decoration: underline;
}

.footerCopyright:first-of-type {
    justify-content: start !important;
    color: rgb(54, 52, 52);
}

.footerCopyright:last-of-type {
    justify-content: end !important;
}

.footerCopyright button {
    border: none;
    font-size: 15px;
    background-color: rgb(236, 236, 236);
}

.socialLinks img {
    width: 20px;
}

.socialLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.footerBG {
    margin-top: 30px;
    background-color: rgb(236, 236, 236) !important;
    width: 100%;
}

.footerLinks h1 {
    font-size: 16px;
}

.footerLinks a {
    font-size: 15px;
    color: rgb(54, 52, 52);
    margin-bottom: 15px;
}

.footerLinks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(231, 226, 226);
    align-items: flex-start;
}

@media (max-width: 1125px){
    .info{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}