.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
    gap: 8px;
}

.container div {
    width: 50%;
    /* height: 72%; */
}

.container div:last-child {
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.container img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.container div:first-child img {
    
    height: 550px;
    border-radius: 10px 0px 0px 10px;
}

.container div:last-child img{
    width: 100%;
    height: 271px;
}

.container div:last-child img:nth-child(2){
    border-radius: 0px 10px 0px 0px;
}

.container div:last-child img:nth-child(4){
    border-radius: 0px 0px 10px 0px;
}