
.navbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position: fixed;
}
.brandLogo{
    height: 60px;
    width: auto;
}
.navLinks{
    display: flex;
    list-style: none;
    
}
.navLinks li{
    color: grey;
    font-size: 17px;
    padding: 10px;
    border-radius: 400px;
    text-align: center;
}
.navLinks li:hover{
    background-color: rgb(236, 236, 236);
    color: black;
}
a, li{
    cursor: pointer;
    text-align: center;
}
.loginBtn{
    background-color: #fff;
    border: 1px solid;
    border-color: rgb(206, 200, 200);
    color: grey;
    margin-left: 10px;
    transition: box-shadow 0.3s ease; /* Add smooth transition */
}
.loginBtn:hover{
    background-color: white !important;
    color: grey !important;
    box-shadow: 1px 3px 5px 0px rgb(221, 213, 213);
    cursor: pointer;
}
#navCenter{
    margin-left: 150px;
    
}
.mobileBar{
    display: none;
}
.mobileBar button{
    background-color: inherit;
    border: none;
    color: grey;
    font-size: 10px;
}
.iconStyle, .mobileSelected {
    color: grey;
    font-size: 25px;
}
.mobileBar div{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.mobileSelected button, .mobileSelected .iconStyle{
    color: red;
}


@media (max-width: 950px)
{
    .navbarContainer{
        position: static;
    }
}

@media (max-width: 750px)
{
    .navbarContainer div{
        display: none;
    }
    .navbarContainer{
        position: fixed;
        bottom: 0;
        height: auto;
        width: 100%;
        background-color: white;
    }
    .mobileBar{
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
        width: 100%;
    }
    .mobileBar div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}