.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button{
    cursor: pointer;
}
.horizontal-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}