
.searchContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    border: 1px solid;
    border-radius: 100px;
    border-color: rgb(202, 194, 194);
    width: 850px;
    box-shadow: 2px 2px 2px 0px rgb(221, 218, 218);
}
.searchBtn{
    font-size: 35px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    margin: 8px;
    padding: 0px 12px 0px 12px; 
    background: rgb(253, 50, 50);
    border-color: rgb(253, 50, 50);
    color: white;
}
.searchBtn:hover{
    background: radial-gradient(circle, rgb(231, 53, 53) 60%, purple 100%);
}
.searchBoxBtn{
    border: none;
    border-radius: 100px;
    background-color: white;
    width: 30%;
}
.searchBoxBtn h1{
    padding-left: 15px;
    text-align: start;
    font-size: 12px;
    color: black;
    font-weight: 300;
    line-height: 5px;
}
.searchBoxBtn h2{
    padding-left: 15px;
    font-size:  15px;
    color: grey;
    font-weight: 100;
    line-height: 5px;
    text-align: start;
}
.searchBoxBtn:hover{
    background-color: rgb(236, 236, 236);
}
.w30{
    width: 30% !important;
}
.w20{
    width: 20% !important;
}